.content-header {
    color: lightgrey;
}

.text-start {
    color: white;
    font-family: Newsreader;
}

.content {
    background-image: url("/img/bg.jpg");
    background-size: 100%;
}

.card-border-0,
.mb-4,
.card {
    background: transparent;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(12px);
    font-family: Newsreader;
}

.card-body,
.card-header {
    color: white;
}

.hr {
    width: 25px;
    height: 25%;
}

.progress {
    border-radius: 25px;
}