.container {
    background: transparent;
    border: 1px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);
    text-align: center;
    padding: 20px 5px;
    margin: 20px 5px;
    min-height: 30vh;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

.btn {
    font-family: monospace;
}

.content-wrapper,
.main-header navbar navbar-expand navbar-white navbar-light {
    background: url("/img/bg.jpg");
    background-size: cover;
}

p,
a {
    font-family: sans-serif;
    font-weight: normal;
}

.jam-digital {
    overflow: hidden;
    width: 340px;
    margin: 10px auto;
    border: 5px solid #efefef;
}

.judul,
kotak {
    flex-wrap: wrap;
}

.kotak {
    float: left;
    width: 110px;
    height: 100px;
    background-color: #4ecec3;
}

.jam-digital p {
    font-family: "Monaco", monospace;
    color: #fff;
    font-size: 36px;
    text-align: center;
    margin-top: 25px;
}

.col-sm-6 {
    color: white;
}
