* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content-header {
    color: darkgray;
}

.background {
    background-image: url('/img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
}




.biodata {
    text-align: center;
    padding: 30px 20px;
    letter-spacing: 1px;
    border-radius: 25px;
    
}

.biodata img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #333;
}

.jd-biodata {
    font-weight: bold;
}

.biodata h3 {
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}

.biodata-list {
    padding: 30px 0;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);
}

.biodataku:not(:last-child) {
    margin-right: 50px;
}

.biodataku span {
    display: block;
}

.biodataku span:nth-child(1) i {
    font-size: 25px;
    margin-bottom: 15px;
}

.edit {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10%;
}